<?php include _include(APP_PATH.'view/htm/header.inc.htm');?>

<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-header"><?php echo lang('tag_list');?></div>
			<div class="card-body">
				<?php if($taglist) { foreach($taglist as $tag) { ?>
				<a href="<?php echo $tag['url'];?>" class="btn btn-secondary mb-2 mr-2">
					<?php echo $tag['name'];?> <span class="badge badge-light"><?php echo $tag['count'];?></span>
				</a>
				<?php }} ?>
			</div>
		</div>
	</div>
</div>

<?php include _include(APP_PATH.'view/htm/footer.inc.htm');?>
